[2019-09-13 05:25] jwflory opened #5 "Create basics of event curation system"
# Summary

Create the following parts of event curation system:

- [ ] Submission form (for providers)
- [ ] Admin access view for all events in database (including pending review and accepted events)

# Background

This feature involves working with the following parts:

* DB access:
    * GET: Get all events in database
    * POST: Submit event to database
* Forms: Collect user input

# Details

[2019-09-13 05:25] justwheel commented on #5
@leong96 Feel free to edit this / add anything else as needed.

[2019-09-13 05:36] jwflory opened #6 "Manage user accounts in database"
# Summary

Manage three tiers of user relationships (admins, providers, non-users) in database and create database schema defined in Django app

# Background

In the back-end meetings, we concluded that user permissions are divided in three categories:

* **Non-users**:
    * Can only run program searches
    * No authentication required
* **Authenticated users**:
    * Manage account details / pr

[2019-09-13 05:49] jwflory opened #7 "Create instant/quick deployment project script for CI/CD"
# Summary

Create an automatic way to quickly deploy project changes (i.e. 15-30 minutes) to a staging / test environment

# Background

Setting up a quick and easy pathway to deploying software to a testing environment lets us get quick / immediate feedback on changes merged into `master` branch. Additionally, it also improves our ability to get early feedback from the sponsor and encourage them

[2019-09-13 05:54] jwflory opened #8 "Manage user profiles, preferences, and settings"
# Summary

Add user to edit/change profile, preferences, and settings

# Background

A user may need to change some parts of their account, like a password, email, profile picture, font size preference, etc. Users need an interface to edit their profiles.

Some of this will likely be done with forms, as described in #5.

# Details

Part of this builds off @eguy006's changes for #6. Once we have co

[2019-09-14 19:54] nlMeminger commented on #7
I think for our development purposes we should use docker containers as a way to deploy to our team's infrastructure as it looks like that might be the simplest solution given our timeframe.  There exists a plugin for GitHub that can automatically make a docker image for us.  I would prefer this method as it would save the time of having to set up a clean VM every time we want to test, and can bet

[2019-09-15 22:57] justwheel commented on #7
@nlMeminger I am +1 to standardizing on containers, noting that final database deployment will likely not be hosted in a container.

For the purpose of standardizing with local development tools, what do you think of using docker-compose to orchestrate a Django container and a MySQL database container? Do we have enough time to set it up and use it vs. building only a Django container from a Docke

[2019-09-16 00:48] nlMeminger commented on #7
Docker-compose with a container for the app and a container with MySQL
would probably be the easiest setup.

On Sun, Sep 15, 2019 at 18:57 Justin W. Flory <notifications@github.com>
wrote:

[2019-09-22 22:50] nlMeminger opened #12 "Create configuration file"
# Summary

There are a number of variables spread across this project that would be best abstracted out into a single YAML file at the root of the project, such as db password and username, allowed hosts, project name, etc

# Details

ideally, we would use a YAML file and add code into the relevant places to read in the variables using the python YAML library

# Outcome

All of our system-wide var

[2019-09-23 05:57] justwheel commented on #7
See #11 with some helpful pieces with a first container and docker-compose file.

[2019-09-23 13:13] leong96 commented on #5
Progress as of 9/23 is as follows:
- Now able to use POST to write entries to a database.

Still need to do:
- Learn how to retrieve entries from a database to display on a website. This will likely be accomplished with a for loop to get multiple events, then writing a variable to the webpage.

[2019-09-23 14:12] justwheel commented on #5
@leong96 Thanks for the progress update.

We probably need getter methods to retrieve a value from the database and yield the value as the `return`. This way, we can call an internal method for making a database query once anywhere in the application, versus repeating the same database code multiple times across the repo.

For example, this idea is expressed below in the simplest of pseudo-code:

[2019-09-23 14:14] leong96 commented on #5
It does, yes.

[2019-09-24 17:00] R-Eli-Levasseur commented on #6
Authentication has been difficult, the base Django authentication is not what we need so we have to substitute our own custom model which I have not figured out yet. I have changed our models to better fit our new requirements however, and have written (but not tested yet) most queries we will need for above functionality. i.e. Editing an event should just be models.Program.editProgram(), seeing a

[2019-09-24 17:29] nlMeminger commented on #6
Could you please explain more why the base Django authentication is not
going to work for us?

On Tue, Sep 24, 2019 at 1:00 PM eguy006 <notifications@github.com> wrote:

[2019-10-07 14:07] eguy006 opened #30 "Add dependencies for search to docker"
# Summary

Add dependencies for search to docker

# Background

These pip installs need to be done and rebuild_index must be called on startup

# Details

These commands:
pip install django-haystack
pip install whoosh
manage.py rebuild_index

# Outcome

search so far will work

[2019-10-07 14:11] nlMeminger commented on #30
What is the purpose of the  manage.py rebuild_index command?

[2019-10-07 16:28] R-Eli-Levasseur commented on #30
The purpose is that it writes the whoosh index file, which is basically how whoosh searches. You have to run rebuild_index the first time to generate an index of EVERYTHING, then once that's done you run update_index whenever you want to update the index with newly add events

[2019-10-07 16:59] nlMeminger commented on #30
So then in terms of the containers building, when do those commands need to
run?

On Mon, Oct 7, 2019 at 12:28 eguy006 <notifications@github.com> wrote:

[2019-10-07 17:25] R-Eli-Levasseur commented on #30
rebuild_index should probably be called right before runserver when booting the containers

[2019-10-07 18:15] nlMeminger commented on #30
Good to know, thank you. Do you have specific versions of the packages
you’d like?

On Mon, Oct 7, 2019 at 13:25 eguy006 <notifications@github.com> wrote:

[2019-10-07 18:47] R-Eli-Levasseur commented on #30
Not in particular

[2019-10-07 18:48] nlMeminger commented on #30
latest it is!

[2019-10-08 13:04] nlMeminger opened #37 "Add an email function to the projet"
# Summary
We need to add a way for the app the send emails

# Background
There are a couple reasons we need this, most notably being recover password, and sending program update emails.

# Outcome

The app should be able to send an email to a user when needed.

[2019-10-09 15:22] nlMeminger commented on #30
resolved in #32

[2019-10-09 15:22] #30 closed

[2019-10-09 15:27] nlMeminger opened #38 "Update Pipfile with static version numbers for dependencies"
# Summary

It is best to have version numbers than just "*"

# Details

Need to find what versions are currently out there for our dependencies, and lock our Pipfile on then

# Outcome

We should have static version numbers for all dependencies

[2019-10-09 15:28] nlMeminger commented on #5
I would probably call this complete given we are now at beta.  @jwflory what do you think?

[2019-10-09 15:35] justwheel commented on #5
+1. Given we passed the beta review, I think we have the basics of the event curation system in place. Closing. :clapper:

[2019-10-09 15:35] #5 closed

[2019-10-09 16:42] jwflory opened #39 "Ensure app starts successfully on initial run"
# Summary

Make sure that when the app runs for the first time, it starts up successfully without errors

# Background

Current problem is that certain database initialization is not happening. For a fresh install or dev environment, the migrations need to be run for the app to start. It's not clear if the migrations are needed or what the best way to initialize the database for our project.

# De

[2019-10-09 16:57] jwflory opened #40 "Create persistent database for development and testing"
# Summary

Make a persistent database available for local development and a common testing environment

# Background

We need persistent databases for local development and for a common testing server. Persistent database for development means working volumes for the Docker container. Testing database for staging means actual hosted database, not running in a container.

# Details

@nlMeminger is

[2019-10-09 17:04] jwflory opened #41 "Write docs for rebuilding app in testing environment"
# Summary

Write new docs for rebuilding the testing environment app

# Background

@nlMeminger is working towards a simple way for pushing new changes to a common testing environment. Eventually this will include a way for the team to rapidly test changes in a common testing environment. Docs will be needed once we are ready for the rest of the team to follow this process for updating the testing

[2019-10-09 17:08] jwflory opened #42 "Merge default home page with search page"
# Summary

Merge existing search page into the default landing page

# Background

Currently the default landing page of the app is not configured and gives an error (i.e. loading `http://localhost:8000/` in browser). The page at `index.php` is our intended landing page. We need to integrate the following three "pages" into one:

1. `index.php`
2. `search.html`
3. Set up a default route for app la

[2019-10-09 20:02] nlMeminger commented on #40
The hosted staging database is blocked on the config file in #12

[2019-10-09 20:08] nlMeminger commented on #40
The dev environment is taken care of in b97e8264c4e2322c282f4dd4bd7ea569d0e19a18

[2019-10-10 01:55] eguy006 opened #43 "Add filters to search results"
# Summary

Get the search to a point where it works seamlessly with our filters

# Background

The search currently only functions for keywords, so we still need to implement features #17, #18, and #19 on our success matrix. This would be filtering by categories and by zip code (possibly also municipality)

# Details

Not positive how to get around the issues discovered last week while developing

[2019-10-10 01:56] R-Eli-Levasseur commented on #6
Authentication was solved with extension of the base user class

[2019-10-10 01:56] #6 closed

[2019-10-10 13:29] justwheel commented on #43
@eguy006 Could you please link some of the docs you are working with for Whoosh/Haystack? Or anything you think it would be helpful for me to review before we meet in person? I haven't looked into it in depth much yet, but I will try to prime myself before our Friday meeting.

[2019-10-10 13:32] justwheel commented on #40
@nlMeminger Thanks for working on this. :+1:

Will the database container be able to write the database files to the local directory? It isn't clear to me if the volume is mounted into a place where the MySQL container writes data to the volume:

https://github.com/jwflory/django-rit-grasa/blob/b97e8264c4e2322c282f4dd4bd7ea569d0e19a18/docker-compose.yml#L16-L17

If you can take a look at that one

[2019-10-10 14:20] leong96 opened #44 "User Input Error Handling"
# Summary

Messages to the user must be provided when incorrect input is given.

# Background

We have not yet considered the possibility of someone entering the wrong password or attempting to register with the email address of an existing user. At present, the form usually is either considered accepted, or the user is returned to the form, with no indication of why nothing happened.

# Details

[2019-10-10 16:28] justwheel commented on #44
@leong96 Thanks for opening this.

If I understand, this is different user input handling from what @ldidonato did in the event creation form, but specifically around user account registration / login. @leong96 or @ldidonato, if you have thoughts on how to implement this, keep us up-to-date in this ticket please. :slightly_smiling_face:

If you get stuck on technical implementation and want to bou

[2019-10-10 22:30] jwflory opened #45 "Write docs on how to add new dependencies to project"
# Summary

Write a docs page about how to add a new dependency to the project

# Background

Currently there are a few untracked dependencies added to the project environment. We need to standardize the way we install dependencies with Pipenv.

# Details

1. `pipenv install --dev`
2. Test changes
3. Run `pipenv update --dev`
4. Commit Pipfile and Pipfile.lock
5. Make PR

# Outcome

* Git merge con

[2019-10-15 21:43] #45 closed

[2019-10-16 14:48] justwheel commented on #43
@eguy006 Do you think it's good to call this one completed by #49?

[2019-10-16 15:33] justwheel commented on #37
@nlMeminger found a set of email wrappers around Python standard libraries in the Django library:

https://docs.djangoproject.com/en/2.2/topics/email/

It's likely we'll use this for email.

[2019-10-16 15:43] ldidonato opened #51 "Double Login"
# Summary

Gets a forbidden page when you try to login as provider when you are already logged in as admin

[2019-10-16 15:45] nlMeminger commented on #51
Ideally we would want any attempt to login while already authenticated to
just redirect you to your own portal

On Wed, Oct 16, 2019 at 11:43 Lauren DiDonato <notifications@github.com>
wrote:

[2019-10-17 13:31] jwflory opened #59 "Research estimated cost for MapQuest API pricing and plans"
# Summary

Research and estimate cost possibilities for using MapQuest API

# Background

We are committed to using the MapQuest API for geocoding latitude and longitude in our application. After looking at the [pricing and plans](https://business.mapquest.com/pricing-plans/), there may be a cost for this beyond 15,000 transactions a month. It's unlikely the application will hit this threshold on

[2019-10-18 17:29] jwflory opened #64 "BE Story: Project polish and back-end improvements"
# Summary

Miscellaneous polish and improvements to back-end code now that all major features implemented

# Background

@eguy006 wanted to shift off of new feature development to focus on some polish and improvements to the back-end code. These are a mixed assortment of smaller tasks and items to improve the user experience.

# Details

- [x] ~Add UX to notify users of pending account status afte

[2019-10-18 17:32] justwheel commented on #7
A lot has changed since we originally started working on this. We now have a working Docker Compose script to build and run the application locally. @nlMeminger is creating a custom staging environment to pull and test new changes in a shared environment for the team (see #40).

Closing as complete. :clapper:

[2019-10-18 17:32] #7 closed

[2019-10-18 17:34] justwheel commented on #8
@ldidonato @eguy006 @leong96 Do you think this issue is completed by the [provider.php](https://github.com/jwflory/django-rit-grasa/blob/master/grasa_event_locator/templates/provider.php) file? Not sure if we can close this one yet.

[2019-10-18 17:35] justwheel commented on #38
@nlMeminger Is it possible to get a PR for this over the weekend?

[2019-10-18 17:36] justwheel commented on #43
Checked in with @eguy006 in the back-end meeting and we agreed this issue was completed by #49. Closing as complete. :clapper:

Nice work @eguy006. :+1:

[2019-10-18 17:36] #43 closed

[2019-10-18 19:07] nlMeminger commented on #38
Aye aye captain

On Fri, Oct 18, 2019 at 13:35 Justin W. Flory <notifications@github.com>
wrote:

[2019-10-18 19:33] justwheel commented on #12
See #66.

[2019-10-19 19:32] #12 closed

[2019-10-21 15:16] nlMeminger opened #71 "Clicking search button on search page with no events in db results in error"
# Summary

On the first start of a new app with no events on in the db, clicking on the search button on search results in this error:

Page not found (404)
Request Method:     GET
Request URL:     http://localhost:8000/?q=

# Affected components

- [ ] Authentication
- [x] Event curation system
- [x] Search
- [ ] Admin portal
- [ ] Other (explain below)

[2019-10-21 15:17] nlMeminger opened #72 "index.php error with empty database"
# Summary

With an empty db, index.php fails to load and gives this stack trace:

Environment:
Request Method: GET
Request URL: http://localhost:8000/index.php
Django Version: 2.2.6
Python Version: 3.6.9
Installed Applications:
['django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'wh

[2019-10-21 15:43] nlMeminger commented on #44
any movement on this?

[2019-10-21 15:47] nlMeminger opened #75 "BE Story: investigate how to auto rebuild_index"
# Summary

after each event is created, the haystach/whoosh index needs to be rebuilt for the event to show up in search.

# Details

need to figure out a way to auto rebuild_index in the app

# Outcome

after an event is created, it should automatically appear in search results without admin intervention

[2019-10-21 15:53] jwflory opened #76 "FE Story: Get text snippets from sponsor for About page"
# Summary

Reach out to sponsor and get text snippets for the _About_ page and what information to include

# Background

The _About_ is currently empty and includes no text. It is not our responsibility to write this, but we should work with the sponsor to fill this page:

![Screenshot of "About" page](https://user-images.githubusercontent.com/4721034/67221205-0f438400-f3f9-11e9-99c1-40939cdd4440

[2019-10-21 17:12] ldidonato opened #78 "FE Story: change password page style fix"
# Summary

Sync Change Password page styles with other pages

# Background

# Details

# Outcome

[2019-10-21 17:15] ldidonato opened #79 "FE + BE: Hook up implemented FE pieces to working BE functionality"
## Provider Page

- [x] Change Email
- [x] Change Password
- [x] Are you sure? modal: FE piece
- [x] Delete Event

## Edit Event

- [ ] ~some item’s don’t auto fill with info~ moved to #154
- [x] Hitting cancel from edit event is broken

## Admin Page

- [x] change email
- [x] change password

## View All Events Page

- [x] No data is hooked up
- [x] Delete event

## All Providers

- [x] Number of

[2019-10-21 17:16] ldidonato opened #80 "FE Story: Make no logo found image"
# Summary

Crate an image to be used in case the provider does not set a logo

# Background

# Details

# Outcome

[2019-10-21 17:21] ldidonato opened #81 "BE Story: Hook up provider name change"
# Summary

The field has been created for a provider to change their organization name, it just needs to be hooked up to the backend.

[2019-10-21 17:23] ldidonato opened #82 "FE Story: Street Address Validation"
# Summary

Make better validation for street address in create event.
Probably will need a wireframe update.

[2019-10-21 17:26] ldidonato opened #83 "Large Labels in Activities"
# Summary

When large labels are selected the text goes outside the box for activities in create event.

Fix by hiding overflow.

[2019-10-21 17:31] ldidonato opened #84 "Make Login and Portal unaccessible while on mobile device"
# Front-End
FE can hide links in the header while in mobile

# Back-End
Needs to make the login and portal pages inaccessible by URL

[2019-10-21 18:49] nlMeminger commented on #40
This is done.

[2019-10-21 18:49] #40 closed

[2019-10-21 18:50] nlMeminger commented on #42
any movement on this @eguy006

[2019-10-21 19:57] leong96 commented on #72
PR is now up to patch this.

[2019-10-21 19:57] #72 closed

[2019-10-22 16:15] nlMeminger opened #90 "FE & BE Story: add invite provider button"
# Summary

There should be a button in the admin portal on the allUsers page that lets an admin invite someone to create a provider account

# Details

On the all users page, there should be a button on the top that when clicked should show a modal with an email field only.  Then an email should be sent to the provider with a link to the registration page

# Outcome

Admins should be able to invit

[2019-10-22 16:26] nlMeminger opened #91 "Map pins disappear after reload of search page"
# Summary

On first start of the app, all the pins for all the events in the db show up, but when I reload my page, they disappear

# Affected components

- [ ] Authentication
- [ ] Event curation system
- [x] Search
- [ ] Admin portal
- [ ] Other (explain below)

[2019-10-22 21:02] nlMeminger commented on #39
this is fixed.

[2019-10-22 21:02] #39 closed

[2019-10-22 22:37] #41 closed

[2019-10-23 18:05] justwheel commented on #78
Moved to Sprint 4. :running_woman: :four: :running_man:

[2019-10-23 18:06] justwheel commented on #79
Moved to Sprint 4. :running_woman: :four: :running_man: Also added @eguy006 since Harrison is focused on email integration.

[2019-10-23 18:08] justwheel commented on #80
@ldidonato Do you think this is a Sprint 4 or Sprint 5 item?

Also we might want a view without a logo, in case the file upload functionality doesn't make it to the final product. We might not have any image for all organizations, so I prefer a responsive view without any images, if one is not set for the organization.

Does this make sense?

[2019-10-23 18:08] justwheel commented on #81
Moved to Sprint 4. :running_woman: :four: :running_man:

[2019-10-23 18:09] justwheel commented on #82
@ldidonato Is this planned for Sprint 4?

[2019-10-23 18:10] justwheel commented on #83
Moved to Sprint 4. :running_woman: :four: :running_man:

[2019-10-23 18:13] justwheel commented on #84
Moved to Sprint 4. :running_woman: :four: :running_man:

@eguy006 can help with this for Sprint 4. Alternatively, @nlMeminger was looking to pick up dev work, so this could be a good thing for him to look into if @eguy006 is approaching work limit for this sprint.

[2019-10-23 18:13] justwheel commented on #42
Moved to Sprint 4. :running_woman: :four: :running_man:

[2019-10-23 18:14] justwheel commented on #72
PR #85.

[2019-10-23 18:18] justwheel commented on #41
This was dropped since the deployment method changed. These docs are no longer needed.

[2019-10-23 18:20] justwheel commented on #91
@eguy006 @ldidonato Any ideas on this one?

[2019-10-23 18:21] justwheel commented on #90
Moved to Sprint 4. :running_woman: :four: :running_man:

Is this already implemented in the front-end? Whose work is in progress on this story?

[2019-10-23 19:39] #81 closed

[2019-10-23 19:40] ldidonato commented on #84
FE side is done

[2019-10-23 19:40] #78 closed

[2019-10-24 12:37] ldidonato commented on #90
FE piece is done

[2019-10-24 12:57] nlMeminger commented on #90
🙌🙌

On Thu, Oct 24, 2019 at 08:37 Lauren DiDonato <notifications@github.com>
wrote:

[2019-10-25 00:30] ldidonato commented on #82
done

[2019-10-25 00:30] #82 closed

[2019-10-25 14:15] ldidonato opened #109 "BE / FE : duplicate entry"
stop page from erroring out if email for provider or admin already exists and instead send an alert to the FE

[2019-10-28 13:47] ldidonato opened #113 "BE Story: Changing Provider Name causes events to disappear until page is reloaded"
# Steps to Duplicate

- Login as a provider
- Click settings
- Click Change Name
- Hit Save, causing the page to reload

the name of the provider does not change to the new name until page is reloaded again, events in the table disappear until the page is reloaded as well

[2019-10-28 13:55] nlMeminger commented on #113
Does this affect events showing up in search at all?

On Mon, Oct 28, 2019 at 09:47 Lauren DiDonato <notifications@github.com>
wrote:

[2019-10-28 20:18] nlMeminger opened #114 "FE Story: add approve/deny buttons to event page when pending"
# Summary

Add approve/deny buttons to event page

# Background

It is annoying for an admin to click view an event and the have to go back and find it again in the list.  Having approve deny buttons in the event page would help.

# Details
When the admin is authenticated and when an event is pending, approve/deny buttons should be at the top of the page. after approving, it should redirect the ad

[2019-10-28 20:21] nlMeminger opened #115 "FE Story: add feedback for rejected events"
# Summary

When an event is rejected, it is unhelpful to not know why it was rejected.  So when the deny button is clicked, a modal should show up asking for a reason/feedback as to why it was denied.

# Outcome

When an event is denied, feedback should be submitted.  Then it should show up on the provider portal as rejcted and a link to view comments which could probably be in a  modal

[2019-10-28 20:22] nlMeminger commented on #42
I think this one is completed.  any comments anyone?

[2019-10-28 20:23] nlMeminger commented on #59
@jwflory  how is this going?

[2019-10-28 20:23] nlMeminger commented on #71
fixed.

[2019-10-28 20:23] #71 closed

[2019-10-28 20:24] nlMeminger commented on #75
finished in #103

[2019-10-28 20:24] #75 closed

[2019-10-28 20:25] nlMeminger commented on #91
@eguy006 Could you put in those changes we made on the fly last week for this one?

[2019-10-28 20:26] nlMeminger commented on #113
confirmed, does affect the search index.  Need to make a call to rebuild the index

This is probably causing @ldidonato 's issue because the page is looking for events owned by the old name before it is reloaded.

[2019-10-29 15:48] nlMeminger opened #119 "add modal to password reset page"
# Summary

On the reset password page where the user submits their email address, if we were to check if that email exists in our db, then we would be exposing what emails are actually in our db potentially.  But we still need some kind of feedback for the user, so I suggest adding a modal after the email is submitted that says something along the lines of "If the email address provided matches an

[2019-10-29 15:54] ldidonato commented on #119
I only agree to an extent, there are some sacrifices that need to be made for UX. Many websites I've done reset password on have given me the "email address is not associated with an account" message when I've made typos. But if you feel very strongly about this we can rephrase that message to something like "Sending reset link to that account if it exists", so something less technical.

[2019-10-29 15:56] nlMeminger commented on #119
My worry is someone spamming our system inputting addresses to see if they exist in the db or not.  Do I actually expect this to happen? Probably not.  But I think its something we should consider.  @jwflory any thoughts here?

[2019-10-29 15:59] leong96 commented on #119
To comment on @ldidonato's point, it is certainly possible to check whether an email is associated with an account; the logic is already kind of in there as well: if the account exists, the page will take a bit longer to reload post-submit (due to the email sending), if the email is not associated, then the reload is instant. We can just stick a message/modal in there as well with the appropriate

[2019-10-29 16:00] nlMeminger commented on #119
We should only be sending the email if the account exists, but we should not be telling the user if the acount exists or not is my point.

[2019-10-29 16:03] leong96 commented on #119
Reread what you wrote, I get it now. So show a blanket message for everyone going "If this email exists, we've sent an email to it", without specifically saying whether an email was actually sent.

[2019-10-29 16:04] nlMeminger commented on #119
correct.

[2019-10-29 18:26] nlMeminger opened #122 "Write Admin Quickstart docs"
# Summary

Write documentation that someone who has never touched anything can effectively use and deploy the project and have it work

# Background

Related to #192. Get more background there.

# Details

Bolded lines are most important / should be most detailed:

- [x] ~~**Install dependencies (e.g. Docker/git/`git clone`)**~~
- [x] ~~Set up MariaDB database~~
- [x] ~~Config settings (@jwflory -

[2019-10-29 18:48] nlMeminger opened #123 "BE Story: Clean up codebase for hand-off"
# Summary

Some files are very large, and not everything in them all relate to each other.  We can refactor some things and make separate files for separate sets of features to improve the readability of the code.

[2019-10-29 21:14] #38 closed

[2019-10-29 22:06] justwheel commented on #42
@eguy006 got this one previously. Closing as complete. :clapper:

[2019-10-29 22:06] #42 closed

[2019-10-29 22:17] justwheel commented on #84
Thanks @ldidonato! @eguy006, are the login and portal pages inaccessible by a URL? Is this something we have to do for the back-end? I'm trying to understand if this is necessary polish.

[2019-10-29 22:23] leong96 commented on #44
A fair amount of this is actually complete. I’d need a close look and determine if every possible scenario is covered.

[2019-10-29 22:23] justwheel commented on #90
Does it make more sense for @leong96 to work on this one since it is related to email?

[2019-10-29 22:27] nlMeminger opened #126 "BE Story: Add rebuild_index functionality to special cases"
# Summary

After an event edit is made, or a provider name is changed, the whooch index needs to be updated

[2019-10-29 22:27] justwheel commented on #8
This is more or less complete now. Some things are pending (e.g. editing email and passwords), but this is being tracked elsewhere. Closing this issue as complete. :clapper:

[2019-10-29 22:27] #8 closed

[2019-10-29 22:31] justwheel commented on #91
This is fixed in staging, I think because of @eguy006's #118. Closing as complete! :ocean:

[2019-10-29 22:31] #91 closed

[2019-10-29 22:39] justwheel commented on #37
@leong96 took the lead on email during Sprint 4, see #117 and #121 for more details. Closing as complete. :clapper:

[2019-10-29 22:39] #37 closed

[2019-10-30 14:16] justwheel commented on #51
Could someone please help me understand this bug? It doesn't make sense to me that an admin would try to log in as a provider. At what point is an admin prompted to log in as a provider?

[2019-10-30 14:23] justwheel commented on #76
Email sent last night to Chris, Carla, and Mike. Waiting for a follow-up.

[2019-10-30 17:19] justwheel commented on #126
@nlMeminger Are you currently working on this?

[2019-10-30 17:21] justwheel commented on #114
Discussed in back-end meeting. This is a nice idea, but it is a nice-to-have feature. I targeted it for Sprint 5 if we have enough time to get this.

[2019-10-30 17:31] jwflory opened #129 "Changing Organization Name does not escape SQL characters"
# Summary

Changing the organization name with certain characters can cause a database error

## Stacktrace

[code]

# Affected components

- [ ] Authentication
- [ ] Event curation system
- [ ] Search
- [ ] Admin portal
- [X] Other (explain below)

User profiles

# Suggested fix

Might be a hard-coded SQL query somewhere? Doesn't seem to affect creating organizations, only changing their name.

R

[2019-10-30 17:38] justwheel commented on #109
@ldidonato Could you please explain this one in more detail? We looked at it in the back-end meeting but weren't sure what page you were using or what the error was.

[2019-10-30 17:38] nlMeminger commented on #126
Yes

On Wed, Oct 30, 2019 at 13:19 Justin W. Flory <notifications@github.com>
wrote:

[2019-10-30 17:41] justwheel commented on #90
@leong96 is following up with @ldidonato on this after our back-end meeting.

[2019-10-30 17:43] justwheel commented on #84
@ldidonato @leiyinmon In the back-end meeting, we were wondering if the pages should be inaccessible, since we have mobile-friendly interfaces for the provider/admin pages. Is this issue completed?

[2019-10-30 17:45] justwheel commented on #51
Briefly discussed in back-end meeting. @leong96 knows how to fix this one by redirecting the login if you are already logged in.

[2019-10-30 17:49] ldidonato commented on #84
The issue I had was even if the button isn't there the user can still go to /login.php in the browser and access the pages. I thought this was a BE thing with the routes or something. you can delete this issue if u want

[2019-10-31 01:52] justwheel commented on #84
@ldidonato Thanks for clarifying! I think the work @leong96 is doing for #51 covers the back-end piece for this issue. I'm going to close this one as complete. :clapper:

[2019-10-31 01:52] #84 closed

[2019-10-31 01:58] justwheel commented on #119
Let's revisit this in Sprint 5 planning. There is a lot on the back-end plate for the next two weeks, so we need to protect time for highest-priority tasks.

[2019-10-31 01:59] justwheel commented on #122
Tagging for completion in Sprint 5.

[2019-10-31 04:03] jwflory opened #131 "BE Story: Admins delete events"
# Summary

Admins can delete an event from the web application

# Background

An administrator may need to remove an event if it no longer exists and the provider is not responsive. Or if there are other logistical issues with the event taking place. This helps the administrator manage the published events over time and maintain an accurate database.

# Details

This needs to be reviewed by a back

[2019-10-31 09:28] leong96 commented on #51
Seemed that the login page was already set to go to index.php if the user was authenticated. There is now a pull request to switch this to the search page (#132). Let's see what happens.

[2019-10-31 11:43] jwflory opened #133 "Ops Story: Write an automated install script"
# Summary

Write a one-shot install script to run an initial installation of the application

# Background

When we pass this application to Monroe County IT, a one-shot script to install the application for the first time on a CentOS 7.x host will help them get started running our application. We briefly discussed not wanting to use Docker Compose for this; since we are not testing any other inst

[2019-10-31 11:58] jwflory opened #134 "BE Story: Finish integrating email functionality"
# Summary

Finish integrating the working email functionality into other parts of our app that need to send emails

# Background

Email was introduced into the application previously (see #37, #117, #121 for more info). Now, we need to finish integrating the email function across our app. In the last back-end meeting, we walked through the application to think about what areas are left to plug in.

[2019-10-31 12:15] justwheel commented on #51
This was fixed by #132. Closing as complete. :clapper:

[2019-10-31 12:15] #51 closed

[2019-10-31 12:18] leong96 commented on #131
The delete button on the all events page as well as the delete modal are already present. This will not take much work, Eli's approve/deny pages can serve as the basis for a delete function quite easily.

[2019-10-31 12:48] ldidonato commented on #109
@jwflory it happens when you try to make an admin with an email that already exists in the db, or a provider with the email already taken.

[2019-10-31 12:50] ldidonato commented on #109
![Screen Shot 2019-10-31 at 8 50 26 AM](https://user-images.githubusercontent.com/10453584/67948151-8b895480-fbbb-11e9-883d-3db8ebf68872.png)

[2019-10-31 12:51] ldidonato commented on #109
very big very important issue

[2019-10-31 13:03] ldidonato opened #136 "fees formating"
# Summary

when the fees are displayed in the event page the price is truncated. For example $50.00 becomes $50.0

I'm not sure which team this falls under

[2019-10-31 13:03] leong96 commented on #109
Oh, this is during registration! The back end team was puzzled because we thought this was during login (which wouldn’t make sense). Yup, this needs fixing.

[2019-10-31 13:09] nlMeminger commented on #136
How are we storing the value in the data base?

On Thu, Oct 31, 2019 at 09:03 Lauren DiDonato <notifications@github.com>
wrote:

[2019-11-02 18:21] eguy006 opened #139 "URL Issue"
# Summary

Issue with URL path when cancelling an editEvent

## Stacktrace

[code]

# Affected components

- [ ] Authentication
- [X ] Event curation system
- [ ] Search
- [ ] Admin portal
- [ ] Other (explain below)

# Suggested fix

Change path in editEvent.php

[2019-11-02 19:40] nlMeminger commented on #139
This was fixed in #140 and is confirmed fixed on staging host.  Closing.

[2019-11-02 19:40] #139 closed

[2019-11-04 16:25] justwheel commented on #59
## Third-party service costs (fixed)

* `>`15,000 lookups per month: **Free**
* 15,001-30,000 lookups per month: **$99/month**
* 30,001-75,000 lookups per month: **$199/month**

## Estimated cost

Assume an average search takes, on average, four lookups to the MapQuest API. This allows for approximately 3,750 free searches before GRASA/Monroe County would cross the free threshold.

With this numbe

[2019-11-04 16:25] #59 closed

[2019-11-05 02:01] R-Eli-Levasseur commented on #109
Bug fixed, added feedback to page if duplicate is found as well

[2019-11-05 02:01] #109 closed

[2019-11-05 02:04] leong96 commented on #134
#145 Implements the main email functionality, however, the template system is still being researched.

[2019-11-05 02:06] leong96 commented on #90
#145 Establishes the base functionality email functionality. Will close this issue, as the template functionality to have a canned message for provider invites is a part of #134.

[2019-11-05 02:06] #90 closed

[2019-11-05 03:08] R-Eli-Levasseur opened #146 "Fix email validation on registration for full TLD (e.g. test@test)"
# Summary

Email validation fails on register and add admin, I was able to enter test@test

# Affected components

- [ ] Authentication
- [ ] Event curation system
- [ ] Search
- [ ] Admin portal
- [X] Other (explain below)

Registering users

# Suggested fix

[2019-11-05 06:22] R-Eli-Levasseur commented on #131
Implemented

[2019-11-05 06:22] #131 closed

[2019-11-05 06:46] R-Eli-Levasseur commented on #113
Fixed this bug

[2019-11-05 06:46] #113 closed

[2019-11-05 06:54] R-Eli-Levasseur commented on #136
This has been fixed

[2019-11-05 06:54] #136 closed

[2019-11-05 11:57] justwheel commented on #109
@eguy006 Was this fixed by PR #148?

[2019-11-05 11:57] justwheel commented on #136
Addressed in #148.

[2019-11-05 11:58] justwheel commented on #113
Fixed in #148.

[2019-11-05 11:58] justwheel commented on #131
@eguy006 Was this implemented by PR #148?

[2019-11-05 12:09] justwheel commented on #146
@eguy006 This might be working as designed since a valid email address might not include a TLD (e.g. `test@localhost`). For this reason, validation probably works when you use `test@test` as an email.

It would be worth checking if validation doesn't work for other mistakes, e.g. `test!test.com`.

[2019-11-05 12:33] justwheel commented on #44
I believe the remaining work for this (i.e. registering an account with an email that already exists) was done in #148. Since most of the work for this issue is done and the last little bit is in an open PR, I'm closing this issue as complete. :clapper:

[2019-11-05 12:33] #44 closed

[2019-11-05 12:38] justwheel commented on #80
Given that logo upload is not a feature that will make it to the final product, I am closing this issue. :clapper:

[2019-11-05 12:38] #80 closed

[2019-11-05 21:30] justwheel commented on #126
Changing provider name rebuilds the search index per @eguy006 in #148. After an event edit is still needed.

[2019-11-05 21:47] justwheel commented on #64
@eguy006 got most of these things in #148. All remaining items are complete. Closing as complete! :ocean:

[2019-11-05 21:47] #64 closed

[2019-11-05 21:56] jwflory opened #154 "BE Story: Finish event edit system"
# Summary

Ensure editing system functionally works without triggering any bugs

# Background

The editing system is the last major component of our project to finish. There are a couple more pieces to tidy up before we're ready to ship this as a v1.0.0 release.

# Details

- [x] @nlMeminger ~All metadata of a event should appear in edit interface automatically~ #175
- [x] Edit flow: Editing an ev

[2019-11-05 21:58] justwheel commented on #79
This was mostly done in #148. The last remaining piece was moved to its own issue, #154. Closing as complete. :clapper:

[2019-11-05 21:58] #79 closed

[2019-11-05 22:03] justwheel commented on #126
The remaining piece of this issue was moved to #154. Closing this issue as complete! :clapper:

[2019-11-05 22:03] #126 closed

[2019-11-05 22:35] justwheel commented on #59
@ldidonato noted my calculations were wrong! After recent changes to our projecxt, the MapQuest API look-ups only happen once when adding a new event. In other words, the application can support up to 15,000 new _events_ per month. There is no location filter for search, so no look-up will happen in the search interface.

[2019-11-05 22:47] jwflory opened #155 "BE Story: Research ordering of search results"
# Summary

Research how difficult / how much work is required to change order of search results

# Background

Previously we talked about changing the sort order of search results in the interface. Obviously they are filtered by keywords, but what about after that? We mentioned alphabetical sort and sorting by date of event creation (most recent sorted ahead of oldest). This needs further discussi

[2019-11-05 22:58] jwflory opened #156 "Switch PHP file extensions to HTML"
# Summary

Replace all file extensions from PHP to HTML

# Background

There is no actual PHP code remaining in our project; we should make sure the PHP file extensions are changed to HTML extensions so we don't falsely imply we are using PHP, when we are not.

# Details

This requires a front-end change (i.e. changing the actual file extensions) and a back-end change (i.e. making sure no links br

[2019-11-05 23:04] jwflory opened #157 "BE Story: Configure critical information from a config file"
# Summary

Configure critical information for deploying the application in a config file

# Background

Certain information will change in a production environment. We want to ensure this information can be changed easily by the sponsor when they deploy the application. Putting it in a config file, so they don't have to change application code, makes it easier for them to configure the application

[2019-11-05 23:11] justwheel commented on #83
@leiyinmon was going to work on this one during Sprint 5.

[2019-11-06 20:58] jwflory opened #162 "BE Story: Automate creation of first initial admin user"
# Summary

Create a standard way of creating the first admin user in the site

# Background

This was discussed in the 2019-11-06 back-end team meeting. The approach we agreed on was to add an `admin_email` field to the config file. The email there would be used to create an admin user with a default password if and only if no other admin users exist in the database.

An alternative approach consi

[2019-11-07 13:37] ldidonato opened #166 "Docs Update"
From the clean build section:

- [x] change `docker exec -it [containerID for the mariadb container]` to `docker exec -it [containerID for the mariadb container] /bin/bash` #165
- [x] change `docker exec -it [containerID for the django container]` to `docker exec -it [containerID for the django container] /bin/bash` #165
- [x] `makemigratons` is spelled wrong it needs to be `makemigrations` #165
-

[2019-11-07 13:52] ldidonato commented on #166
this has been fixed with the addition of the rebuild index command

[2019-11-07 14:07] justwheel commented on #166
Cool, thanks for catching that @ldidonato. Closing as done. Thanks @leong96 for jumping on this! :clapper:

[2019-11-07 14:07] #166 closed

[2019-11-08 14:37] justwheel commented on #123
I will take this issue on for Sprint 5, Week 2. My PR, #164, is part of this work. Black is a tool based on the [PEP-8 Style Guide](https://www.python.org/dev/peps/pep-0008/) of writing Python code, with some opinionated differences Black developers believe make Python code easier to read.

This is mostly cosmetic changes to layout and overall code structure (not changing functionality). While it

[2019-11-09 18:44] #156 closed

[2019-11-09 19:18] leong96 commented on #115
Going to add myself to this, because the email will need to contain the reason for the rejection.

[2019-11-09 19:26] leong96 commented on #119
There is now a message indicating that an email will be sent if a user exists. This is displayed no matter what is inputted into the field.

[2019-11-10 16:12] justwheel commented on #119
This was closed by #173. Thanks @leong96! Closing as complete. :clapper:

[2019-11-10 16:12] #119 closed

[2019-11-10 16:29] justwheel commented on #115
@leong96 Okay, that's fine. Remember this is a backlog / nice-to-have feature though. Figuring out email templates more broadly for #134 is more important than adding an approval/rejection feedback. 1-on-1 email from a GRASA admin to a provider is a system that already exists for GRASA to meet this requirement.

[2019-11-10 17:30] nlMeminger commented on #154
#175 finishes the auto load of metadata

[2019-11-11 14:44] justwheel commented on #76
This is on us. Carla from the Community Foundation got back to us and instructed us to put some placeholder text there for now until their own internal conversations happen about labeling and branding.

I will work something on this one once #179 is merged, since it changes the about page.

[2019-11-11 20:10] #76 closed

[2019-11-11 21:26] ldidonato opened #184 "BE Story: remove space from update event"
# Summary

On the editEvent page, when the event info is auto filled it places a space before zip code and city. This causes zip code to fail validation, but should also be fixed on city.

[2019-11-12 16:46] jwflory opened #191 "New documentation: Add user feature documentation"
# Summary

Write new user documentation to explain primary features and how to use them effectively

# Background

We did a lot of hard work to make this app possible but there are some inevitable quirks that we won't have time to polish up. Effective documentation will help train our users on common operations and help inform users of a "tried and tested" way of doing things, in case it is not ob

[2019-11-12 16:53] jwflory opened #192 "New documentation: Add admin documentation"
# Summary

Write new documentation for system administrators who will manage and support the installation at a technical level

# Background

While end-user docs are important, we also need to remember our sysadmins. We need documentation to explain how to manage and support the application as much as possible. This reduces the difficulty in adopting our application and helps us better guarantee t

[2019-11-12 18:19] nlMeminger commented on #184
this is fixed.  Closing...

[2019-11-12 18:19] #184 closed

[2019-11-12 18:20] nlMeminger commented on #154
I would consider this completed.

[2019-11-12 18:20] #154 closed

[2019-11-12 20:43] R-Eli-Levasseur commented on #129
Refactored everywhere I saw it

[2019-11-12 20:43] #129 closed

[2019-11-12 21:42] R-Eli-Levasseur commented on #155
Check this later
https://django-haystack.readthedocs.io/en/v2.4.1/searchqueryset_api.html?highlight=sort#SearchQuerySet.order_by

[2019-11-12 22:18] #83 closed

[2019-11-12 23:21] R-Eli-Levasseur opened #195 "Need to include haystack BSD License Disclaimer"
Need to have the text located here: https://github.com/django-haystack/django-haystack/blob/master/LICENSE :somewhere in the app.

[2019-11-13 00:50] R-Eli-Levasseur opened #197 "Formatting descriptions"
Currently event descriptions do not carry over formatting, so if I enter a list like:
Things:
- Thing 1
- Thing 2
It will display on event page as:
Things: - Thing 1 - Thing 2

[2019-11-13 02:30] nlMeminger commented on #197
can we encode with html and just store that?

[2019-11-13 04:08] leong96 opened #198 "BE Story: Don't send email if address is the same."
# Summary

Write an if statement that checks whether the inputted username when changing it matches the current one.

# Background

Emails are sent even if the user decides to leave their username the same.

# Details

If statement: check whether the inputted email equals the user's email. If they are the same, do not send the email.

# Outcome

No email is sent.

[2019-11-13 19:23] justwheel commented on #122
_Discussed during 2019-11-13 ops meeting with @nlMeminger and @jwflory._

---

@nlMeminger and I mapped out what the admin quickstart guide should include. The specific sections of the one-page doc was added to the original comment as a checklist. We should have a draft ready over the weekend so we have time to review leading to next Tuesday's hand-off.

[2019-11-13 20:00] justwheel commented on #133
_Discussed in 2019-11-13 ops meeting with @nlMeminger and @jwflory._

---

@nlMeminger and I white-boarded this one out. I summarized our discussions into small, concrete steps in the _Details_ section of the original ticket. @nlMeminger, please double-check the checklist and make sure this looks right. :+1:

![Picture of whiteboard planning notes for initial install script](https://user-images.gi

[2019-11-13 20:03] justwheel commented on #162
_Discussed at 2019-11-12 team meeting with @jwflory, @R-Eli-Levasseur, and @nlMeminger._

---

We agreed on a new method of initiating a new admin user _and_ also the categories for the first time. Instead of adding the code to an initialization method, we will create a web page address that can only be reached on a fresh install. When this page is hit, it will create the default admin user and ca

[2019-11-13 20:14] justwheel commented on #197
@R-Eli-Levasseur Where is the event description not being carried over from? The database?

@ldidonato Is this something you can take a look at or is it a back-end issue?

[2019-11-13 21:16] justwheel commented on #197
We covered it in the back-end meeting. Here is a screenshot of the list formatting breaking:

![Screenshot of event text with missing new lines](https://user-images.githubusercontent.com/4721034/68804957-ddf15900-0630-11ea-89cc-26335019c10c.png)

[2019-11-14 13:21] justwheel commented on #134
I think we want something like this for templates:

https://docs.djangoproject.com/en/2.2/topics/templates/#django.template.loader.render_to_string

[2019-11-14 14:55] ldidonato commented on #115
FE done in "deny-popups" branch

[2019-11-15 19:11] justwheel commented on #115
@ldidonato Is the branch ready for a pull request?

[2019-11-16 02:50] leong96 commented on #115
@jwflory Not just yet there, I still need to implement the back end portion, which is my plan for tomorrow.

[2019-11-16 15:09] justwheel commented on #134
#201 will close this issue. All remaining functionality implemented.

[2019-11-16 19:33] leong96 commented on #134
This does indeed close this issue. Tangentially, #115 has some modals whose inputs will be added to the emails, but that can be addressed over there.

[2019-11-16 19:33] #134 closed

[2019-11-16 23:21] #157 closed

[2019-11-17 19:06] justwheel commented on #115
This was closed by #206. Closing as complete. :clapper:

[2019-11-17 19:06] #115 closed

[2019-11-17 19:07] justwheel commented on #114
I revisited this again with @leong96 to get a back-end perspective. Unfortunately there is not enough time left in the project to implement this feature. I'm closing this issue as wontfix for the time being. :clapper:

[2019-11-17 19:07] #114 closed

[2019-11-17 19:08] justwheel commented on #198
Addressed by #207. Closing as complete. :ocean:

[2019-11-17 19:08] #198 closed

[2019-11-17 20:56] justwheel commented on #146
As it happened, @leong96 figured out a way to do this in #207 by handling an exception for an invalid email address. So this was actually a back-end fix after all!

![Screenshot of feedback from back-end when an invalid email address is entered, not caught by front-end validation](https://user-images.githubusercontent.com/4721034/69013784-f1aeff00-0951-11ea-986f-3ebeddd75dd4.png "Screenshot of fee

[2019-11-17 20:56] #146 closed

[2019-11-19 12:14] justwheel commented on #191
The Base System and Event Curation System documentation is done. I won't have time to get the Search System documentation by our meeting with GRASA today. **I pushed this task to the Bonus Sprint**, but the remaining Search System documentation is only two pages, so I am not that worried about on-time delivery before the hard hand-off on Nov. 28th.

[2019-11-19 21:17] R-Eli-Levasseur commented on #155
Grasa wants sorted by alphabetical descending on event title

[2019-11-19 21:17] ldidonato opened #222 "Add config for contact email"
add a config so the help pieces don't say "johndoes@email.com" and grasa can configure it
Locations that have it:

./grasa_event_locator/templates/register.html:110:                                          <p>More Questions? Please contact us at <a href="mailto:johndoe@email.com">johndoe@email.com</a></p>

./grasa_event_locator/templates/provider.html:95:

[2019-11-19 22:17] R-Eli-Levasseur opened #225 "BE Story: Change page url"
# Summary

set admin_user to initial_setup

# Background

# Details

# Outcome

[2019-11-19 23:28] jwflory opened #227 "Document suggested API services to use"
# Summary

Explain what third-party services we suggest on how to use them (e.g. Mailgun)

# Background

We need to think about places where we want to use third-party APIs, like email, and offer some guidance on options and choices.

# Details

Will fit into Admin Docs, but not sure how to set up yet. Will think about this more soon.

# Outcome

Sponsor is able to get application running at a pro

[2019-11-20 05:40] justwheel commented on #222
In progress, have the contact email done but still working on MapQuest piece. Will try to finish before back-end meeting.

[2019-11-20 18:11] justwheel commented on #162
This was completed previously, you can now go to a page to set up the site and add an initial admin user. Remaining work to be followed up in #225.

Closing as complete. :clapper:

[2019-11-20 18:11] #162 closed

[2019-11-20 21:39] justwheel commented on #225
Closed by #228. :clapper:

[2019-11-20 21:39] #225 closed

[2019-11-20 21:42] justwheel commented on #133
Mostly done in #226, but keeping this issue open for additional polish and refactoring.

[2019-11-20 22:28] #222 closed

[2019-11-21 12:58] justwheel commented on #122
Some refactoring done in #234. The only thing left to close this issue is a more detailed explanation of the container host set-up step.

[2019-11-21 14:46] #195 closed

[2019-11-21 21:31] #191 closed

[2019-11-22 20:32] R-Eli-Levasseur commented on #197
![image](https://user-images.githubusercontent.com/9360433/69458406-3addc500-0d3d-11ea-9a26-9bb291f12478.png)
Got it working with cases I could think of

[2019-11-23 05:36] leong96 commented on #197
![image](https://user-images.githubusercontent.com/8702682/69474033-33dca400-0d89-11ea-8332-21477a298de5.png)
What more could a person ask for?
Approved.

[2019-11-23 06:07] #197 closed

[2019-11-23 06:07] R-Eli-Levasseur commented on #155
Has been implemented

[2019-11-23 06:07] #155 closed

[2019-11-24 16:39] justwheel commented on #197
Implemented by #236.

[2019-11-24 16:41] justwheel commented on #155
Implemented by #237.

[2019-11-24 20:52] nlMeminger commented on #133
This was finished in #242 @jwflory good to close?

[2019-11-24 20:59] justwheel commented on #133
Just approved #242. This is good to close, thanks for following up here @nlMeminger. :+1:

[2019-11-24 20:59] #133 closed

[2019-11-24 21:44] nlMeminger commented on #122
This should be finished with #243

[2019-11-25 15:15] justwheel commented on #122
Completed in #243. Closing as complete. :ocean:

[2019-11-25 15:15] #122 closed

[2019-11-25 16:01] justwheel commented on #192
The only thing left on this ticket is a short one-pager on the expected process to update the code and deploy changes to the Event Locator. @nlMeminger and I discussed this last week in the Ops meeting and I think he has an idea of how to tackle this. This is due by the Documentation Freeze on Friday, 29 November, but let's try to get it done by Wednesday so we can enjoy the Thanksgiving holiday w

[2019-11-25 18:28] #227 closed

[2019-11-26 16:11] nlMeminger commented on #192
This is (finally) completed in #249

[2019-11-26 20:48] nlMeminger opened #250 "BE Story: serve static files over production"
# Summary
Django does not serve static files when DEBUG is set to False, or rather when the application is set to be used in production mode.

# Background
During our attempt to move the app to production it was discovered that we need to figure out how to serve static files while in production.  Something that is already done in Development.

# Details
We need to research how to either use anothe

[2019-11-27 04:28] nlMeminger commented on #250
here is what I've got so far.  In the Django documentation, using the ./manage.py runserver command in production is not recommended.  That is only meant for development.  Instead, it is suggested to use another web application like Nginx since Django is not a web application like we expected.

So here is what I've found from these two sources, which are related (linked below).  We need to amend o

[2019-11-28 16:07] #192 closed

[2019-11-28 19:44] #123 closed

[2019-12-13 01:25] justwheel commented on #250
This has stretched out for a long time, but I figured out the best way for us to approach this:

1. Change the entrypoints on containers to use Gunicorn
2. Point Monroe County I.T. at extensive documentation for running Django application in production with a web server in front

The changes required for no. 1 are in [`change/gunicorn`](https://github.com/jwflory/django-rit-grasa/compare/change/gu